.client {
    padding: 80px 0px;

    // .company{
    //     padding-top:48px;
    // }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-235px * 7))
        }
    }

    .slider {
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: auto;

        .slide-track {
            animation: scroll 40s linear infinite;
            display: flex;
            width: calc(235px * 14);
        }

        .slide {
            height: 80px;
            width: 235px;
        }
    }
}

@media (max-width: 720px) {
    // .company{
    //     padding:25px !important;
    // }
}